APP_NAME="Salas Dusk"
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:47800
DUSK_DRIVER_URL=http://localhost:9515

# DB
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=salas_dusk
DB_USERNAME=admin
DB_PASSWORD=admin

REPLICADO_FAKE=1

# Filas
QUEUE_CONNECTION=sync

# Drivers de Performance para Testes
# Usamos 'array' ou 'file' para garantir que os testes não poluam o cache real
CACHE_DRIVER=array
FILESYSTEM_DISK=local

SESSION_DRIVER=file
SESSION_LIFETIME=120

# Configurações de Email (Não envia emails reais durante o teste)
MAIL_MAILER=log

# Dusk
DUSK_START_MAXIMIZED=true
DUSK_HEADLESS_DISABLED=true