APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# Em produção,depende de Supervisor instalado para processar a fila.
# Em ambiente dev, pode subir um processo com
# php artisan queue:listen
# ou usar
# QUEUE_CONNECTION=sync
QUEUE_CONNECTION=database

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SENHAUNICA_KEY=
SENHAUNICA_SECRET=
SENHAUNICA_CALLBACK_ID=

REPLICADO_HOST=
REPLICADO_PORT=
REPLICADO_DATABASE=
REPLICADO_USERNAME=
REPLICADO_PASSWORD=
REPLICADO_CODUNDCLG=
REPLICADO_SYBASE=

SENHAUNICA_ADMINS=

# SENHAUNICA-SOCIALITE ######################################
# https://github.com/uspdev/senhaunica-socialite

# URL do servidor oauth no ambiente de dev (default=no)
#SENHAUNICA_DEV="https://dev.uspdigital.usp.br/wsusuario/oauth"

# URL do servidor oauth para uso com senhaunica-faker
#SENHAUNICA_DEV="http://127.0.0.1:3141/wsusuario/oauth"

# Desabilite para não salvar o retorno do oauth em storage/app/debug/oauth/ (default=true)
#SENHAUNICA_DEBUG=

# AS CONFIGURAÇÕES A SEGUIR são relevantes se permission=true

# Esses usuários terão privilégios especiais
#SENHAUNICA_ADMINS=11111,22222,33333
#SENHAUNICA_GERENTES=4444,5555,6666

# Se os logins forem limitados a usuários cadastrados (onlyLocalUsers=true),
# pode ser útil cadastrá-los aqui.
#SENHAUNICA_USERS=777,888

# Se true, os privilégios especiais serão revogados ao remover da lista (default=false)
#SENHAUNICA_DROP_PERMISSIONS=

# Código da unidade para identificar os logins próprios ou de outras unidades
SENHAUNICA_CODIGO_UNIDADE=

USP_THEME_SKIN=fflch

# LARAVEL TOOLS #########################################
# https://github.com/uspdev/laravel-tools

# Se sua aplicação está atrás de um proxy e se comunica com o proxy por http mas o proxy
# se comunica com o usuário por https, vc deve forçar o https no laravel (default = false).
#LARAVEL_TOOLS_FORCAR_HTTPS=false

# Ativa mensagens de debug (default = app.debug)
#LARAVEL_TOOLS_DEBUG=

# Campos extras ao solicitar reserva
# Se estiver preenchido, eles serão exibidos ao solicitar reserva, e serão de preenchimento obrigatório
# Colocar os campos entre aspas e separados por vírgula, por exemplo: RESERVA_CAMPOS_EXTRAS="Campo 1,Campo 2,Campo 3"
RESERVA_CAMPOS_EXTRAS=

# se true, todo e-mail enviado será copiado para o endereço remetente do próprio sistema
# Colocar true para fazer essa cópia; colocar false ou deixar em branco ou comentado ou ausente para não fazer essa cópia
MAIL_COPIAR_REMETENTE=
