/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.swp
composer.lock
/public/vendor/

# Lando
.lando.yml
Dockerfile.custom
php.ini

# DDEV
.ddev
