.card-header {
    display: flex;
    justify-content: space-between;
}

.pagination {
    justify-content: center     ;
}

#pesIndexList {
    display: flex;
    justify-content: space-between;
}
.form-control.form-control-color {
    max-width: 3rem;
}

#repFormControl {
    max-width: 7rem;
}

.checkFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkFlex .card-body{
    padding: 0.5rem 1.7rem 0.5rem 1.7rem;
}

#repeat_container, #input_busca_data {
    display: none;
}